.bg-pic {
    background: url(../assets/weather.jpg) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;

}

body {

    background-color: none;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    max-width: 490px;
    width: 100%;
    padding: 20px;
    background-color: #ffffffaa;
    border-radius: 20px;

    input {
        max-width: 320px;
        width: 100%;
        margin: auto;
    }
}